<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('英语书籍新增')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">英语词汇书：</label>
                <div class="layui-input-block">
                    <input type="file" name="file" accept="xls/xlsx" lay-verify="required" autocomplete="off"
                           id="layui-upload" class="layui-input layui-upload" placeholder="仅支持xls, xlsx格式的文件" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">书籍编码：</label>
                <div class="layui-input-block">
                    <input type="text" name="bookCode" lay-verify="title" autocomplete="off" placeholder="默认值：随机唯一字符序列"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">书籍名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="bookName" lay-verify="title" autocomplete="off"
                           placeholder="默认值：词汇书 Excel 文件标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述：</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入书籍描述" name="description" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="form-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="common/include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'transfer'], function () {
        let table = layui.table,
            form = layui.form,
            $ = layui.jquery,
            transfer = layui.transfer;

        let MODULE_API = '/english/api/book/';

        /**
         * 提交创建英语书籍表单
         */
        form.on('submit(form-save)', function (data) {
            let loading = layer.load();

            let files = $('#layui-upload')[0].files //获取上传的文件列表
            let formData = new FormData(); //新建一个formData对象
            formData.append("file", files[0]); //append()方法添加字段
            formData.append("bookCode", data.field.bookCode);
            formData.append("bookName", data.field.bookName);
            formData.append("description", data.field.description);

            $.ajax({
                url: MODULE_API + 'add',
                data: formData,
                dataType: 'json',
                processData: false, //必填 必须false 才会避开jq对formdata的默认处理 XMLHttpRequest才会对formdata进行正确处理  否则会报Illegal invocation错误
                contentType: false,
                type: 'post',
                success: function (result) {
                    layer.close(loading);
                    if (result.status == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("main_table");
                        });
                    } else {
                        layer.open({content: result.message});
                    }
                },
                error: function (e) {
                    layer.close(loading);
                    layer.open({content: e});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
