<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('基础学习')"/>

    <style>
        .layui-progress-bar {
            background-color: #1890ff;
        }

        .font-blue {
            color: #1890ff !important
        }

        .exam-panel {
            overflow: auto;
        }

        .exam-panel .body {
            background-color: #FFFFFF;
            padding: 10px 20px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .exam-panel .body .layui-icon-speaker {
            margin-left: 50px;
            font-size: 30px;
        }

        .exam-panel .body .layui-icon-speaker:hover {
            cursor: pointer;
        }

        .exam-panel .title {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .exam-panel .button {
            background-color: #1890ff;
            color: ghostwhite;
        }

        .operation {
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-lg12 layui-col-md12 layui-col-sm12 layui-col-xs12">
        <div class="layui-card">
            <div class="layui-card-body">
                <h3><span style="margin-right: 15px;color: grey">学习进度</span>
                    <b id="study_progress" th:text="'0 / '+${total}"></b>
                </h3>
                <div class="layui-progress layui-progress-big" lay-filter="progress" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 试题练习区（居中布局） -->
    <div class="layui-col-lg2 layui-col-md2 layui-col-sm2 layui-col-xs2"></div>
    <div class="layui-col-lg8 layui-col-md8 layui-col-sm8 layui-col-xs8">
        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
            <!-- 试题轮播 -->
            <div carousel-item>
                <!-- 试题列表 -->
                <div class="exam-panel" th:each="word:${words}">
                    <div class="body">
                        <h1 class="font-blue">
                            <b th:text="${word.getWord()}"></b>
                            <i th:attr="word-id=${word.getId()}" class="layui-icon layui-icon-speaker"
                               onclick="insideMethods.playMp3(this)"></i>
                            <audio th:src="'/english/api/word/pronounce/'+${word.getId()}"
                                   th:id="'word_'+${word.getId()}"
                                   controls preload hidden>
                            </audio>
                        </h1>
                    </div>
                    <div class="title"><h3><b>中文释义</b></h3></div>
                    <div class="body" th:text="${word.getChinese()}"></div>
                    <div class="title"><h3><b>详解</b></h3></div>
                    <div class="body">
                        <pre th:text="${word.getDescription()}"></pre>
                    </div>
                    <div class="operation">
                        <button class="pear-btn pear-btn-primary pear-btn-lg"
                                onclick="insideMethods.preQuestion(this)"><i class="layui-icon layui-icon-prev"></i>&nbsp;上一个
                        </button>
                        <button th:attr="word-id=${word.getId()}" class="pear-btn pear-btn-primary pear-btn-lg"
                                onclick="insideMethods.nextQuestion(this)">下一个&nbsp;<i
                                class="layui-icon layui-icon-next"></i>
                        </button>
                    </div>
                </div>
                <!-- 轮播结束面板 -->
                <div>
                    <div style="text-align: center;margin-top: 50px;">
                        <i class="layui-icon layui-circle"
                           style="color: white;font-size:30px;font-weight:bold;background: #1890ff;padding: 20px;line-height: 80px;">&#xe605;</i>
                        <div style="font-size: 24px;color: #1890ff;font-weight: 500;margin-top: 30px;">
                            练习完毕！
                        </div>
                    </div>
                    <div class="operation">
                        <button class="pear-btn pear-btn-primary pear-btn-lg"
                                onclick="insideMethods.returnMajor(this)"><i class="layui-icon layui-icon-home"></i>&nbsp;返回主页
                        </button>
                        <button class="pear-btn pear-btn-primary pear-btn-lg"
                                onclick="insideMethods.nextQuestion(this)"><i class="layui-icon layui-icon-return"></i>&nbsp;再学一遍
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-md2 layui-col-sm2 layui-col-xs2"></div>
</div>

<th:block th:include="common/include :: footer"/>
<script th:inline="javascript">
    layui.use(['element', 'form', 'jquery', 'popup', 'step', 'layer'], function () {
        let element = layui.element
            , form = layui.form
            , $ = layui.jquery
            , popup = layui.popup
            , step = layui.step
            , layer = layui.layer;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%',
            stepWidth: '600px',
            height: '500px',
            stepItems: []
        });

        let total = [[${total}]];
        let cache = new Set();
        let methods = {
            preQuestion: function (obj) {
                step.pre('#stepForm');
            },

            nextQuestion: function (obj) {
                if ($(obj).attr('word-id')) {
                    cache.add($(obj).attr('word-id'));
                }
                // 计算当前学习进度
                let p = (cache.size / total * 100).toFixed(2) + '%';
                element.progress('progress', p);
                $('#study_progress').text(cache.size + ' / ' + total);

                step.next('#stepForm');
            },

            returnMajor: function (obj) {
                parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
            },

            playMp3: function (obj) {
                let audioId = 'word_' + $(obj).attr('word-id');
                if ($('#' + audioId)) {
                    let player = $('#' + audioId)[0];
                    if (!player.error) {
                        if (player.paused) {
                            player.play();
                        } else {
                            player.pause();
                        }
                    } else {
                        layer.tips('暂无音源！', $(obj));
                    }
                }
            }
        };

        // 将内部方法传递到window对象
        window.insideMethods = methods;
    });
</script>
</body>
</html>
