<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('英语词库列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">词汇书：</label>
                <div class="layui-input-inline">
                    <select id="book_list" name="bookCode" required lay-search></select>
                </div>
                <label class="layui-form-label">词语类型：</label>
                <div class="layui-input-inline">
                    <select name="wordType" required lay-search>
                        <option value="">请选择</option>
                        <option value="1">单词</option>
                        <option value="2">词语</option>
                    </select>
                </div>
                <label class="layui-form-label">单词：</label>
                <div class="layui-input-inline">
                    <input type="text" name="word" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">汉译：</label>
                <div class="layui-input-inline">
                    <input type="text" name="chinese" placeholder="" class="layui-input">
                </div>
                <div class="layui-form-item" style="float: right">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="form_query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="user-main user-collasped">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="main_table" lay-filter="main_table"></table>
        </div>
    </div>
</div>

<th:block th:include="common/include :: footer"/>
<script type="text/html" id="table_toolbar">
    <button th:if="${auth || isPubAndEdit}" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="pear-icon pear-icon-add"></i>英语词库添加
    </button>
</script>
<script type="text/html" id="row_bar">
    <button th:if="${auth || isPubAndEdit}" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
            class="pear-icon pear-icon-edit"></i>
    </button>
    <button th:if="${auth}" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
            class="pear-icon pear-icon-ashbin"></i>
    </button>
</script>
<script type="text/html" id="word_type">
    {{#if (d.wordType == 1) { }}
    <span style="color: #1890ff">单词</span>
    {{# }else if(d.wordType == 2){ }}
    <span style="color: #36b368">短语</span>
    {{# } }}
</script>
<script>
    layui.use(['table', 'dtree', 'form', 'jquery', 'popup', 'common', 'laydate'], function () {
        let table = layui.table
            , form = layui.form
            , $ = layui.jquery
            , dtree = layui.dtree
            , popup = layui.popup
            , common = layui.common
            , laydate = layui.laydate;

        laydate.render({
            elem: '#pub_time'
            , format: 'yyyy/MM/dd HH:mm:ss'
            , trigger: 'click'
        });

        let MODULE_API = '/english/api/word/';
        let MODULE_API1 = '/english/api/book/english_book/';
        let MODULE_PATH = '/english/word/';

        // 字典列表
        let list = getDictionaryList(`${MODULE_API1}code_dict/list`);
        let options = utilsObj.renderSelectOptions(list, {value: 'code', name: 'name'});
        $('#book_list').html('<option value="">请选择词汇书</option>' + options);
        // 重新渲染 select 选择框
        form.render('select');

        table.render({
            elem: '#main_table',
            url: MODULE_API + 'retrieval',
            page: true,
            cellMinWidth: 100,
            // skin: 'row',
            height: 'full-148',
            toolbar: '#table_toolbar',
            text: {none: '暂无信息'},
            // defaultToolbar: [{layEvent: 'refresh', icon: 'layui-icon-refresh'}, 'filter', 'print', 'exports'],
            cols: [
                [
                    {type: 'checkbox'},
                    {title: '英文', field: 'word', align: 'center', minWidth: 200},
                    {
                        title: '发音（英式）', align: 'center', minWidth: 200, templet: function (row) {
                            if (row.wordType == 2 || row.pronounceFile == null) {
                                return '暂无音源';
                            }

                            let uri = MODULE_API + 'pronounce/' + row.id;
                            let html = [];
                            let str = '<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="playMp3"><i class="layui-icon layui-icon-speaker"></i></button>'
                            html.push(str);
                            html.push('<audio src="');
                            html.push(uri);
                            html.push('" controls preload id="word_');
                            html.push(row.id);
                            html.push('" hidden>');
                            return html.join('');
                        }
                    },
                    {title: '汉译', field: 'chinese', align: 'center', minWidth: 200},
                    {title: '书籍名称', field: 'bookName', align: 'center', minWidth: 200},
                    {title: '词语类型', field: 'wordType', align: 'center', minWidth: 200, templet: '#word_type'},
                    {title: '详解', field: 'description', align: 'center', minWidth: 200},
                    {title: '操作', toolbar: '#row_bar', align: 'center', minWidth: 150, fixed: 'right'}
                ]
            ]
            , parseData: function (res) { //res 即为原始返回的数据
                return getParesDataResult(res);
            }
        });

        table.on('tool(main_table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'playMp3') {
                window.playMp3(obj);
            }
        });

        table.on('toolbar(main_table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });

        form.on('submit(form_query)', function (data) {
            window.refresh(data.field);
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '添加英语词库',
                shade: 0.1,
                area: ['100%', '100%'],
                content: MODULE_PATH + 'add'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['100%', '100%'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该英语词库', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_API + "remove/" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.status == 200) {
                            popup.success(result.message, function () {
                                obj.del();
                            });
                        } else {
                            popup.failure(result.message);
                        }
                    }
                })
            });
        }

        window.refresh = function (param) {
            table.reload('main_table', {where: param});
        }

        /**
         * 播放MP3文件
         * @param obj
         */
        window.playMp3 = function (obj) {
            let player = $('#word_' + obj.data['id'])[0];
            if (!player.error) {
                if (player.paused) {
                    player.play();
                } else {
                    player.pause();
                }
            } else {
                layer.msg('暂无音源！');
            }
        };
    });
</script>
</body>
</html>
