<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('部门编辑')"/>
</head>
<body>
<form class="layui-form" action="" th:if="${exist}">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">部门ID</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${node}" name="node" lay-verify="title" autocomplete="off"
                           class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父级部门</label>
                <div class="layui-input-block">
                    <!--                            <input type="text" th:value="${parentNode}" id="parentMenu" lay-verify="title"-->
                    <!--                                   autocomplete="off" class="layui-input" required>-->
                    <ul id="selectParent" name="parentId" class="dtree" data-id="0"></ul>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部门名称</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${deptName}" name="deptName" lay-verify="title"
                           autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="text" name="rank" th:value="${rank}" lay-verify="title" autocomplete="off"
                           placeholder="请输入" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="dept-update"><i class="layui-icon layui-icon-ok"></i>提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>重置
            </button>
        </div>
    </div>
</form>
<h2 th:if="${!exist}">部门不存在！</h2>

<th:block th:include="common/include :: footer"/>
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
            , $ = layui.jquery
            , dtree = layui.dtree;

        let MODULE_API = '/system/api/dept/';

        console.log([[${parentNode}]]);
        dtree.renderSelect({
            elem: "#selectParent",
            url: MODULE_API + "list",
            method: 'get',
            // selectInputName: {nodeId: "parentId", context: "powerName"},
            skin: "layui",
            dataFormat: "list",
            response: {treeId: "node", parentId: "parentNode", title: "deptName"},
            selectInitVal: [[${parentNode}]]
        });

        form.on('submit(dept-update)', function (data) {
            console.log(data.field['selectParent_select_nodeId'] == undefined);
            $.extend(data.field, {parentNode: data.field['selectParent_select_nodeId']});
            delete data.field['selectParent_select_nodeId'];
            delete data.field['selectParent_select_input'];

            $.ajax({
                url: MODULE_API + 'modify',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.status == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.render();
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });
    });
</script>
<script>
</script>
</body>
</html>