<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('修改密码')"/>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">个人密码修改流程</h2>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body" style="padding-top: 40px;">
                <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                    <div carousel-item>
                        <div>
                            <form class="layui-form" action="javascript:void(0);"
                                  style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">原密码：</label>
                                    <div class="layui-input-block">
                                        <input type="password" name="oldPassword" lay-verify="title" autocomplete="off"
                                               placeholder="请输入原密码" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="pear-btn pear-btn-success" lay-submit lay-filter="id_confirm">
                                            &emsp;验证&emsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div style="text-align: center;margin-top: 10px;">
                                <i class="layui-icon layui-circle"
                                   style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 15px;">
                                    验证通过
                                </div>
                                <div style="font-size: 14px;color: #666;margin-top: 10px;">请设置新密码并提交</div>
                            </div>
                            <div style="text-align: center;margin-top: 15px;">
                                <form class="layui-form" action="javascript:void(0);" lay-filter="postNewPassword"
                                      style="margin: 0 auto;max-width: 460px;padding-top: 15px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">新密码</label>
                                        <div class="layui-input-block">
                                            <input type="password" name="newPassword" lay-verify="title"
                                                   autocomplete="off" placeholder="请输入新密码" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">确认密码</label>
                                        <div class="layui-input-block">
                                            <input type="password" id="password_confirm" lay-verify="title"
                                                   autocomplete="off" placeholder="请再次确认密码" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm"
                                                    lay-submit="" lay-filter="edit-password"><i
                                                    class="layui-icon layui-icon-ok"></i>提交
                                            </button>
                                            <button type="reset" class="pear-btn pear-btn-sm">
                                                <i class="layui-icon layui-icon-refresh"></i>重置
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <div style="text-align: center;margin-top: 90px;">
                                <i class="layui-icon layui-circle"
                                   style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                    密码修改成功
                                </div>
                            </div>
                            <div style="text-align: center;margin-top: 50px;">
                                <button class="pear-btn pear-btn-success" lay-submit lay-filter="returnMajor">返回主页
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="common/include :: footer"/>
<script>
    layui.use(['form', 'jquery', 'popup', 'step'], function () {
        let form = layui.form
            , $ = layui.jquery
            , popup = layui.popup
            , step = layui.step;

        let MODULE_API = "/system/api/user/";

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%',
            stepWidth: '600px',
            height: '500px',
            stepItems: [{
                title: '原密码验证'
            }, {
                title: '设置新密码'
            }, {
                title: '完成'
            }]
        });

        /**
         * 原密码验证
         */
        form.on('submit(id_confirm)', function (data) {
            let loader = layer.load();
            $.ajax({
                url: MODULE_API + 'old_password/verify',
                data: data.field,
                dataType: 'json',
                type: 'post',
                success: function (result) {
                    layer.close(loader);
                    if (result.status == 200) {
                        popup.success(result.message, function () {
                            step.next('#stepForm');
                        });
                    } else {
                        popup.failure(result.message);
                    }
                }
            });
        });
        /**
         * 提交新密码
         */
        form.on('submit(edit-password)', function (data) {
            let b3 = checkConfirmPassword();
            if (b3) {
                let loader = layer.load();
                $.ajax({
                    url: MODULE_API + 'own_password/modify',
                    data: data.field,
                    dataType: 'json',
                    type: 'put',
                    success: function (result) {
                        layer.close(loader);
                        if (result.status == 200) {
                            popup.success(result.message, function () {
                                step.next('#stepForm');
                            });
                        } else {
                            popup.failure(result.message);
                        }
                    }
                });
            } else {
                popup.failure('请确保密码不能为空且前后两次输入密码要一致！');
            }
        });
        /**
         * 返回主页
         */
        form.on('submit(returnMajor)', function (data) {
            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
            return false;
        });

        $('#password_confirm').on('blur', function () {
            // 密码再次确认检测
            checkConfirmPassword();
        });

        /**
         * 密码确认检测
         * */
        function checkConfirmPassword() {
            $('#password_confirm').next().remove();
            let param = $('#password_confirm').val();
            if (param == '') {
                $('#password_confirm').after('<span style="color: red">请再次输入密码！</span>');
            } else {
                if (param == form.val('postNewPassword')['newPassword']) {
                    $('#password_confirm').after('<i class=\"nav-icon fas fa-check\"></i>&nbsp;');
                    return true;
                } else {
                    $('#password_confirm').after('<span style="color: red">两次密码输入不一致！</span>');
                }
            }
            return false;
        }
    });
</script>
</body>
</html>